.dialog-content {
  display: grid;
  grid-template:
    "image top-content" 1fr
    "bottom-content bottom-content" min-content
    / 254px 1fr;
  gap: 16px;

  .image-container {
    grid-area: image;
    display: flex;
    flex-direction: column;
    gap: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .top-section {
    grid-area: top-content;
    min-height: 335px;
    border: 1px solid rgba(35, 99, 158, 1);
    padding: 20px;
    font: normal normal normal 10px/13px Roboto;
  }
  .bottom-section {
    grid-area: bottom-content;
    padding: 20px;
    font: normal normal normal 10px/13px Roboto;
    min-height: 150px;
  }
}
