<header>
  <div class="left-content">
    {{ time$ | async | date: "dd / MM / yyyy &nbsp;&nbsp; HH:mm" }} WIB
  </div>
  <div class="center-content" style="color: white">DASHBOARD BANYUWANGI</div>
  <div class="right-content d-flex justify-content-end align-items-center">
    <a
      mat-icon-button
      [routerLink]="[
        '',
        {
          outlets: {
            dialog: ['search']
          }
        }
      ]"
      ><mat-icon>search</mat-icon></a
    >
    <a
      mat-icon-button
      [routerLink]="[
        '',
        {
          outlets: {
            dialog: ['alert']
          }
        }
      ]"
    >
      <mat-icon class="material-icons-outlined"
        >notification_important</mat-icon
      >
    </a>
    <a mat-icon-button [matMenuTriggerFor]="settingsMenu"
      ><mat-icon>settings</mat-icon></a
    >
    <mat-menu #settingsMenu="matMenu">
      <a
        mat-menu-item
        [routerLink]="[
          '',
          {
            outlets: {
              dialog: ['cctv-list']
            }
          }
        ]"
      >
        <mat-icon>videocam</mat-icon>
        <span style="color: white">CCTV List</span>
      </a>
    </mat-menu>
  </div>

  <div class="custom-radio-group map-select">
    <label
      class="custom-radio-container"
      [routerLink]="['/live']"
      routerLinkActive="active"
    >
      <input type="radio" name="radio" />
      <span class="custom-radio-button" style="color: white">
        Live Monitor
      </span>
    </label>

    <label
      class="custom-radio-container"
      [routerLink]="['/dashboard']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <input type="radio" name="radio" />
      <span class="custom-radio-button" style="color: white">
        Map Dashboard
      </span>
    </label>

    <label
      class="custom-radio-container"
      [routerLink]="['/statistik']"
      routerLinkActive="active"
    >
      <input type="radio" name="radio" />
      <span class="custom-radio-button" style="color: white"> Analytics </span>
    </label>
  </div>
</header>
