<ng-template #content>
  <app-chart-panel *transloco="let t; read: 'cctvlist'">
    <ng-template #customTitle>
      <div class="title">
        <button
          data-testid="btn-close"
          (click)="dialogRef.close()"
          mat-icon-button
        >
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
        {{ t("title") }}
      </div>
      <!-- <button
        class="panel_button"
        (click)="dialogRef.close()"
        mat-icon-button><mat-icon>close</mat-icon></button> -->
      <div class="toolbar-container panel_button">
        <a
          data-testid="btn-add"
          [disabled]="isLoading"
          mat-button
          (click)="addData()"
        >
          <mat-icon>add</mat-icon>
          {{ t("Add") }}</a
        >
        <a
          data-testid="btn-import"
          [disabled]="isLoading"
          mat-button
          (click)="importHCP()"
        >
          <mat-icon>add</mat-icon>
          {{ t("Import From HCP") }}</a
        >
      </div>
    </ng-template>

    <ng-template #contentBody>
      <div class="content-container p-3">
        <div class="table-container">
          <table
            mat-table
            matSort
            [dataSource]="dataSource"
            class="mat-elevation-z8 w-100"
          >
            <ng-container matColumnDef="position">
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("No") }}
              </th>
              <td mat-cell *matCellDef="let index = index">
                {{
                  this.paginator.index === 0
                    ? index + 1
                    : 1 + index + this.paginator.index * this.paginator.size
                }}
              </td>
            </ng-container>

            <ng-container
              matColumnDef="vmsCameraIndexCode"
              sticky
              mat-sort-header
            >
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("vmsCameraIndexCode") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                {{ row["vmsCameraIndexCode"] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="name" sticky mat-sort-header>
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("Name") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                {{ row["name"] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="location" mat-sort-header>
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("Location") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                {{ row["location"] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="latitude">
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("Latitude") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                {{ row["latitude"] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="longitude">
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("Longitude") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                {{ row["longitude"] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="host" mat-sort-header>
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("Host") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                {{ row["host"] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="httpPort" mat-sort-header>
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("HTTP Port") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                {{ row["httpPort"] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="rtspPort" mat-sort-header>
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("RTSP Port") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                {{ row["rtspPort"] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="userName">
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("Username") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                {{ row["userName"] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="password">
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("Password") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                {{ row["password"] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="isActive" mat-sort-header>
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("Active") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                <mat-checkbox
                  (click)="$event.preventDefault()"
                  [checked]="row['isActive']"
                ></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="isLiveView">
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("Live View") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                <mat-checkbox
                  (click)="$event.preventDefault()"
                  [checked]="row['isLiveView']"
                ></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="isCrowd">
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("Crowd") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                <mat-checkbox
                  (click)="$event.preventDefault()"
                  [checked]="row['isCrowd']"
                ></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="isFlood">
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("Flood") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                <mat-checkbox
                  (click)="$event.preventDefault()"
                  [checked]="row['isFlood']"
                ></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="isStreetVendor">
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("Street Vendor") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                <mat-checkbox
                  (click)="$event.preventDefault()"
                  [checked]="row['isStreetVendor']"
                ></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="isTraffic">
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("Traffic") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                <mat-checkbox
                  (click)="$event.preventDefault()"
                  [checked]="row['isTraffic']"
                ></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="isTrash">
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("Trash") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                <mat-checkbox
                  (click)="$event.preventDefault()"
                  [checked]="row['isTrash']"
                ></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="maxFlood">
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("maxFlood") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                {{ row["alarmSetting"]?.["maxFlood"] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="maxTrash">
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("maxTrash") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                {{ row["alarmSetting"]?.["maxTrash"] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="maxStreetvendor">
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("maxStreetvendor") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                {{ row["alarmSetting"]?.["maxStreetvendor"] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="maxCrowd">
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("maxCrowd") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                {{ row["alarmSetting"]?.["maxCrowd"] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="maxTraffic">
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("maxTraffic") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                {{ row["alarmSetting"]?.["maxTraffic"] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th class="gradient-bg-1" mat-header-cell *matHeaderCellDef>
                {{ t("Action") }}
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                <button
                  data-testid="btn-view"
                  [disabled]="isLoading"
                  mat-icon-button
                  title="{{ t('View Data') }}"
                  (click)="viewData(row)"
                >
                  <mat-icon>visibility</mat-icon>
                </button>
                <button
                  data-testid="btn-edit"
                  [disabled]="isLoading"
                  mat-icon-button
                  title="{{ t('Edit Data') }}"
                  (click)="editData(row)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  data-testid="btn-delete"
                  [disabled]="isLoading"
                  mat-icon-button
                  title="{{ t('Delete Data') }}"
                  (click)="deleteData(row)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            class="demo-paginator"
            (page)="handlePageEvent($event)"
            [length]="paginator.length"
            [pageSize]="paginator.size"
            [showFirstLastButtons]="true"
            [pageIndex]="paginator.index"
            [disabled]="isLoading"
            [pageSizeOptions]="[5, 10]"
            aria-label="Select page"
          >
          </mat-paginator>
        </div>
      </div>
    </ng-template>
  </app-chart-panel>
</ng-template>
