.chart-panel-container {
  width: 100%;
  border: 1px solid #23639e;
  color: #ffffff;

  .panel-title-container {
    padding: 7px 12px;
    min-height: 35px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    .title {
      flex-grow: 1;
    }

    .panel_button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-55%);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.31;
      z-index: -1;
      background: transparent
        linear-gradient(
          180deg,
          #23639e 0%,
          #1e51809c 27%,
          #1b4b7781 80%,
          #29669f 100%
        )
        0% 0% no-repeat padding-box;
    }
  }
  .panel-body {
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      z-index: -1;
      background: transparent
        linear-gradient(0deg, rgba(22, 50, 82, 0.4) 50%, transparent 100%) 0% 0%
        no-repeat padding-box;
    }
  }
}
