.btn-oval {
  padding: 6px 16px;
  width: min-content;
  display: inline-block;
  white-space: nowrap;
  background: transparent;
  color: #23639e;
  border: 1px solid #23639e;
  border-radius: 999em;

  &.active,
  &:hover {
    background: #23639e;
    color: white;
  }
}

.btn {
  height: 46px;
  min-width: 141px;
  border: 1px solid #23639e;
  border-radius: 5px;
  color: #23639e;
  background: #0b1b2f;
  text-transform: uppercase;
}

.btn-primary {
  color: white;
  background: #23639e;
}
