.custom-radio-group {
  background: #020c1c;
  border-radius: 7px;
  border: 1px solid #23639e;
  padding: 4px;
  display: inline-flex;
  gap: 8px;

  .custom-radio-container {
    input[type="radio"] {
      display: none;
    }
    input[type="radio"]:checked + .custom-radio-button {
      background: #23639e;
    }
    .custom-radio-button {
      // &:hover{
      //   background: rgba(35, 99, 158, .5);
      // }
      &.active {
        background: #23639e;
      }
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 135px;
      height: 30px;
      cursor: pointer;
      font: normal normal normal 12px/16px Roboto;
      border-radius: 7px;
    }
  }
}
