<app-chart-panel *transloco="let t; read: 'cctvform'">
  <ng-template #customTitle>
    <div class="title">{{ t("title." + formType) }}</div>
    <button class="panel_button" (click)="dialogRef.close()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </ng-template>

  <ng-template #contentBody>
    <div class="form-container">
      <form [formGroup]="cameraForm">
        <div class="form-body">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field
                class="custom-form-field2 w-100"
                appearance="fill"
              >
                <mat-label>{{ t("vmsCameraIndexCode") }}</mat-label>
                <input
                  matInput
                  data-testid="vmsCameraIndexCode"
                  formControlName="vmsCameraIndexCode"
                />
              </mat-form-field>
              <mat-form-field
                class="custom-form-field2 w-100"
                appearance="fill"
              >
                <mat-label>{{ t("vmsType") }}</mat-label>
                <mat-select
                  placeholder="{{ t('vmsType') }}"
                  formControlName="vmsType"
                >
                  <mat-option *ngFor="let item of VMSType" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field
                class="custom-form-field2 w-100"
                appearance="fill"
              >
                <mat-label>{{ t("name") }}</mat-label>
                <input matInput data-testid="name" formControlName="name" />
              </mat-form-field>
              <mat-form-field
                class="custom-form-field2 w-100"
                appearance="fill"
              >
                <mat-label>{{ t("location") }}</mat-label>
                <input
                  matInput
                  data-testid="location"
                  formControlName="location"
                />
              </mat-form-field>
              <mat-form-field
                class="custom-form-field2 w-100"
                appearance="fill"
              >
                <mat-label>{{ t("latitude") }}</mat-label>
                <input
                  matInput
                  data-testid="latitude"
                  formControlName="latitude"
                />
              </mat-form-field>
              <mat-form-field
                class="custom-form-field2 w-100"
                appearance="fill"
              >
                <mat-label>{{ t("longitude") }}</mat-label>
                <input
                  matInput
                  data-testid="longitude"
                  formControlName="longitude"
                />
              </mat-form-field>
              <mat-form-field
                class="custom-form-field2 w-100"
                appearance="fill"
              >
                <mat-label>{{ t("host") }}</mat-label>
                <input matInput data-testid="host" formControlName="host" />
              </mat-form-field>
              <mat-form-field
                class="custom-form-field2 w-100"
                appearance="fill"
              >
                <mat-label>{{ t("httpPort") }}</mat-label>
                <input
                  matInput
                  data-testid="httpPort"
                  formControlName="httpPort"
                />
              </mat-form-field>
              <mat-form-field
                class="custom-form-field2 w-100"
                appearance="fill"
              >
                <mat-label>{{ t("rtspPort") }}</mat-label>
                <input
                  matInput
                  data-testid="rtspPort"
                  formControlName="rtspPort"
                />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field
                class="custom-form-field2 w-100"
                appearance="fill"
              >
                <mat-label>{{ t("channel") }}</mat-label>
                <input
                  matInput
                  data-testid="channel"
                  formControlName="channel"
                />
              </mat-form-field>
              <mat-form-field
                class="custom-form-field2 w-100"
                appearance="fill"
              >
                <mat-label>{{ t("captureQualityChannel") }}</mat-label>
                <input
                  matInput
                  data-testid="captureQualityChannel"
                  formControlName="captureQualityChannel"
                />
              </mat-form-field>
              <mat-form-field
                class="custom-form-field2 w-100"
                appearance="fill"
              >
                <mat-label>{{ t("userName") }}</mat-label>
                <input
                  matInput
                  data-testid="userName"
                  formControlName="userName"
                />
              </mat-form-field>
              <mat-form-field
                class="custom-form-field2 w-100"
                appearance="fill"
              >
                <mat-label>{{ t("password") }}</mat-label>
                <input
                  matInput
                  data-testid="password"
                  formControlName="password"
                  type="password"
                />
              </mat-form-field>
              <div class="row my-2">
                <div class="col-sm-4">
                  <mat-checkbox formControlName="isActive">{{
                    t("Active")
                  }}</mat-checkbox>
                </div>
                <div class="col-sm-4">
                  <mat-checkbox formControlName="isCrowd">{{
                    t("Crowd")
                  }}</mat-checkbox>
                </div>
                <div class="col-sm-4">
                  <mat-checkbox formControlName="isFlood">{{
                    t("Flood")
                  }}</mat-checkbox>
                </div>
                <div class="col-sm-4">
                  <mat-checkbox formControlName="isStreetvendor">{{
                    t("StreetVendor")
                  }}</mat-checkbox>
                </div>
                <div class="col-sm-4">
                  <mat-checkbox formControlName="isTraffic">{{
                    t("Traffic")
                  }}</mat-checkbox>
                </div>
                <div class="col-sm-4">
                  <mat-checkbox formControlName="isTrash">{{
                    t("Trash")
                  }}</mat-checkbox>
                </div>
              </div>
              <mat-form-field
                class="custom-form-field2 w-100"
                appearance="fill"
              >
                <mat-label>{{ t("type") }}</mat-label>
                <mat-select placeholder="Type" formControlName="type">
                  <mat-option *ngFor="let item of CameraType" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field
                class="custom-form-field2 w-100"
                appearance="fill"
              >
                <mat-label>{{ t("label") }}</mat-label>
                <input matInput data-testid="label" formControlName="label" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-footer">
          <button
            mat-raised-button
            data-testid="btn-form-cancel"
            (click)="dialogRef.close()"
            class="btn"
          >
            {{ t("Cancel." + formType) }}
          </button>
          <button
            *ngIf="data?.readonly !== true"
            mat-raised-button
            data-testid="btn-form-submit"
            (click)="submitForm()"
            class="btn btn-primary"
          >
            {{ t("Save." + formType) }}
          </button>
        </div>
      </form>
    </div>
  </ng-template>
</app-chart-panel>
