.pencarian-orang {
  .content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 15px;
    overflow-y: scroll;
    overflow-y: overlay;
    max-height: calc(70vh - 50px);
    counter-reset: css-counter 0; /* initializes counter to 0; use -1 for zero-based numbering */

    > div {
      counter-increment: css-counter 1;
      position: relative;
      min-height: 50px;

      &::after {
        content: counter(css-counter);
        border-radius: 50%;
        width: 27px;
        height: 27px;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 6;
        color: white;
        display: grid;
        place-content: center;
        font-size: 12px;
      }

      img {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .title {
    button {
      margin-top: -10px;
      margin-bottom: -10px;
    }
  }

  .loader-component {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pencarian-orang-container {
  position: relative;
  background: #09121d;
  padding: 6px;

  [data-testid="btn-close"] {
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
  }

  .btn {
    width: 101px;
    border: 1px solid #23639e;
  }

  .custom-form-field2 {
    min-width: min(242px, 100%);
  }

  form {
    margin-bottom: 10px;

    .form-image-container {
      width: 191px;
      height: 150px;
      background: rgba(35, 99, 158, 0.36);
      margin-right: 16px;

      mat-icon {
        width: 30px;
        height: 30px;
      }

      input {
        display: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .image-info {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    display: flex;
    width: calc(100% - 20px);
  }
}

.button-tab {
  display: flex;
  gap: 8px;
  border-bottom: 1px solid #235482;
  margin-bottom: 14px;

  button {
    color: white;
    background: #565656;
    padding: 8px 18px;
    border: 0;
  }
}
