<div class="chart-container">
  <div class="main">
    <div class="custom-radio-group map-select">
      <label
        class="custom-radio-container"
        [routerLink]="['/dashboard']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <input type="radio" name="radio" />
        <span class="custom-radio-button"> Map Dashboard </span>
      </label>
      <label
        class="custom-radio-container"
        [routerLink]="['/dashboard/3d']"
        routerLinkActive="active"
      >
        <input type="radio" name="radio" />
        <span class="custom-radio-button"> 3D Dashboard </span>
      </label>
    </div>
    <ng-content select="[slot=main]"></ng-content>
  </div>
  <div class="left-area">
    <div>
      <app-flood-chart></app-flood-chart>
    </div>
    <div>
      <app-trash-chart></app-trash-chart>
    </div>
  </div>
  <div class="right-area">
    <div>
      <app-street-vendor-chart tooltipPosition="left"></app-street-vendor-chart>
    </div>
  </div>
  <div class="footer-area">
    <app-chart-panel>
      <ng-template #customTitle>
        <div class="title">Sampah Sungai</div>
      </ng-template>

      <ng-template #contentBody>
        <div class="p-2">
          <div echarts [options]="chartOption" style="height: 133px"></div>
        </div>
      </ng-template>
    </app-chart-panel>
    <app-chart-panel>
      <ng-template #customTitle>
        <div class="title">Kepadatan Lalu Lintas</div>
      </ng-template>

      <ng-template #contentBody>
        <div class="p-2">
          <div echarts [options]="chartOption" style="height: 133px"></div>
        </div>
      </ng-template>
    </app-chart-panel>
    <app-traffic-chart tooltipPosition="top"></app-traffic-chart>
    <app-crowd-chart tooltipPosition="top"></app-crowd-chart>
  </div>
</div>
