.map-container {
  width: 100%;
  height: calc(100vh - 43px);
}

.btn-group {
  gap: 16px;

  .btn-oval {
    background-color: #020c1c;
  }
}

[slot="main"] {
  position: absolute;
  top: 25px;
  pointer-events: all;
  z-index: 5;
}
