.map-container {
  width: 100%;
  height: calc(100vh - 43px);
}
app-hik-video-2 {
  width: 400px;
  height: 267px;
}

.btn-group {
  gap: 16px;

  .btn-oval {
    background-color: #7e7f81;
  }
}

[slot="main"] {
  position: absolute;
  top: 25px;
  pointer-events: all;
  z-index: 5;
}
