<app-chart-overlay>
  <div
    slot="main"
    class="text-start d-flex justify-content-between"
    *ngIf="showButtons"
  >
    <div class="d-flex flex-column btn-group">
      <button
        class="btn-oval"
        data-testid="btn-orang"
        [routerLink]="[
          '',
          {
            outlets: {
              dialog: ['person']
            }
          }
        ]"
      >
        Pencarian Orang
      </button>
      <button
        class="btn-oval"
        data-testid="btn-kendaraan"
        [routerLink]="[
          '',
          {
            outlets: {
              dialog: ['vehicle']
            }
          }
        ]"
      >
        Pencarian Kendaraan
      </button>
      <!-- <button class="btn-oval">Manual Operation</button> -->
    </div>
    <!-- <div class="d-flex flex-column btn-group">
      <button class="btn-oval active">ATCS</button>
      <button class="btn-oval">CCTV RT</button>
      <button class="btn-oval">Layanan Publik</button>
      <button class="btn-oval">Pasar</button>
      <button class="btn-oval">Pompa Air</button>
      <button class="btn-oval">Taman Kota</button>
      <button class="btn-oval">Hutan Kota</button>
    </div> -->
  </div>
</app-chart-overlay>
<div #mapContainer [id]="containerId" class="map-container"></div>
<ng-template
  #infoWindowContent
  let-id="cctv_id"
  let-ishcp="ishcp"
  let-status="cctv_status"
  let-liveViewURL="live_view_url"
>
  <ng-container *ngIf="!liveViewURL; else videoPlayer">
    Status: {{ status }}
    <app-hik-video [cctv_id]="id" *ngIf="!ishcp; else wsVideo"></app-hik-video>
    <ng-template #wsVideo> Unsupported </ng-template>
  </ng-container>

  <ng-template #videoPlayer>
    <app-hik-video
      [url]="liveViewURL.replace('live', 'stream').replace('m3u8', 'mp4')"
    ></app-hik-video>
  </ng-template>
</ng-template>
