<app-chart-overlay></app-chart-overlay>
<div #mapContainer [id]="containerId" class="map-container"></div>
<ng-template
  #infoWindowContent
  let-id="cctv_id"
  let-ishcp="ishcp"
  let-status="cctv_status"
  let-liveViewURL="live_view_url"
>
  <ng-container *ngIf="!liveViewURL; else videoPlayer">
    Status: {{ status }}
    <app-hik-video [cctv_id]="id" *ngIf="!ishcp; else wsVideo"></app-hik-video>
    <ng-template #wsVideo> Unsupported </ng-template>
  </ng-container>

  <ng-template #videoPlayer>
    <app-hik-video [url]="liveViewURL"></app-hik-video>
  </ng-template>
</ng-template>
