.dashboard-container {
  position: relative;

  /* stylelint-disable-next-line selector-type-no-unknown */
  app-chart-overlay {
    position: absolute;
    top: 37px;
    left: 0;
    display: block;
    width: 100%;
  }
}
