.content-container {
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 15px;
  overflow-y: scroll;
  overflow-y: overlay;
  max-height: 90vh;
  counter-reset: css-counter 0; /* initializes counter to 0; use -1 for zero-based numbering */

  app-image-canvas {
    counter-increment: css-counter 1;
    position: relative;

    &::after {
      content: counter(css-counter);
      border-radius: 50%;
      width: 40px;
      background: black;
      opacity: 0.5;
      position: absolute;
      top: 30px;
      right: 10px;
      z-index: 6;
      height: 40px;
      color: white;
      display: grid;
      place-content: center;
      font-size: 21px;
      font-weight: bold;
    }
  }
}

.title {
  button {
    margin-top: -10px;
    margin-bottom: -10px;
  }
}

.load-more {
  height: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-container {
  border: 1px solid #23639e;
  margin: 18px;
  width: min(80vw, 415px);

  .list-filter {
    + .list-filter {
      margin-top: 8px;
    }
  }

  h3 {
    margin: 0;
    font-weight: bold;
  }

  .filter-footer {
    button {
      width: 141px;
    }
  }
}
